<article id="contact" class="wrapper style4">
  <div class="container medium">
    <header>
      <h2>Let’s create something amazing together.</h2>
      <p>If you’re looking for a passionate front-end developer, skilled in building dynamic, user-friendly interfaces,
        or need assistance with UI/UX design, performance optimization, or Angular development, feel free to get in
        touch!</p>
    </header>
    <form method="post" action="#">
      <div class="row">
        <div class="col-6 col-12-small">
          <input type="text" name="name" id="name" placeholder="Your Name" required />
        </div>
        <div class="col-6 col-12-small">
          <input type="email" name="email" id="email" placeholder="Your Email" required />
        </div>
        <div class="col-12">
          <input type="text" name="subject" id="subject" placeholder="Subject" required />
        </div>
        <div class="col-12">
          <textarea name="message" id="message" placeholder="Message" required></textarea>
        </div>
        <div class="col-12">
          <ul class="actions">
            <li><input type="submit" value="Send Message" /></li>
            <li><input type="reset" value="Clear Form" class="alt" /></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</article>
